@import "css/global.css";


#header {
    background: url("../../images/header-background.jpg") no-repeat fixed center;
    min-width: 100%;
    min-height: 800px;
    height: 80vh;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    z-index: 0;
    display: flex;
    align-items: center;
}

#header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    width: 100%;
    height: 620px;
    position: relative;
}

#header .content .left .ip-copied {
    color: var(--green-color);
    background: var(--ip-copied-background);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 5px;
    font-size: 17px;
    display: none;
}

#header .content .left .ip-copied.active {
    display: flex;
}

#header .content .left .ip-copied.error {
    background: var(--warning-background);
    color: var(--red-color);
}

#header .content .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#header .content .left .server-name {
    display: flex;
    flex-direction: column;
}

#header .content .left .server-name p {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#header .content .left .server-name h1 {
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 900;
}

#header .content .left .server-description {
    background: rgba(25, 25, 25, 0.6);
    color: var(--description-color);
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.6;
    border-radius: 5px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#header .content .left .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#header .content .left .buttons .copy-ip {
    background: var(--copy-ip-button-background);
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#header .content .left .buttons .copy-ip:hover {
    opacity: 0.8;
}

#header .content .left .buttons .how-to-join {
    background: var(--how-to-join-button-background);
    border: 2px solid var(--description-color);
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--description-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

#header .content .left .buttons .how-to-join:hover {
    opacity: 0.8;
}

#header .content .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#header .content .right .logo-img {
    max-width: 150px;
    transform: translatey(0px);
    animation: float 0s ease-in-out infinite;
}


#minigames {
    background: var(--stats-background);
}

#minigames .content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#minigames .content .game {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

#minigames .content .game:nth-child(even) img{
    order: 1;
}

#minigames .content .game:nth-child(even) img:hover {
    transform: rotate(2deg);
}

#minigames .content .game img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 40px 3px;
    transition: 0.2s;
}

#minigames .content .game img:hover {
    transform: rotate(-1deg);
}

#minigames .content .game .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#minigames .content .game .info .section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
}

#minigames .content .game .info .section-title::before {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 150px;
    height: 1px;
    border-radius: 5px;
    background: var(--description-color);
}

#minigames .content .game .info .section-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    background: var(--main-color);
}

#minigames .content .game .info .game-description {
    color: var(--description-color);
    font-size: 17px;
    line-height: 1.6;
}

#minigames .content .game .info .game-description ul {
    padding: 10px 0 0 40px;
}


@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


@media screen and (max-width: 1625px) {
    #header .content {
        padding: 150px 90px;
        align-items: start;
        justify-content: center;
    }
}

@media screen and (max-width: 1361px) {
    #header .content {
        flex-direction: column;
        padding: 120px 90px;
        height: 100%;
        gap: 60px;
    }

    #header .content .left {
        gap: 30px;
        justify-content: left;
    }

    #header .content .right .logo-img {
        display: none;
    }

    @media screen and (min-height: 745px) {
        #header .content {
            justify-content: center;
        }

        #header .content .left {
            height: fit-content;
            justify-content: center;
            gap: 30px;
        }

        #header .content .right {
            height: fit-content;
            justify-content: center;
            gap: 30px;
        }
    }
}

@media screen and (max-width: 819px) {
    #header .content {
        padding: 150px 30px;
    }

    #header .content .left .server-name p {
        font-size: 15px;
    }

    #header .content .left .server-name h1 {
        font-size: 40px;
    }

    #header .content .left .server-description {
        font-size: 16px;
    }

    #header .content .right {
        width: 100%;
    }

}

@media screen and (max-width: 447px) {
    #header .content .left .server-name h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 383px) {
    #header .content .left .buttons {
        flex-direction: column;
    }
}